.loadingContainer {
  text-align: center;
  padding: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10%;
}

.sectionTitle {
  font-weight: bold;
  text-align: left;
}

.newsItemContainer {
  text-align: left;
  margin-top: 1%;
}

.newsItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsItemTitle {
  font-size: 16px;
  margin: 0;
}

.newsItemTime {
  font-size: 16px;
  color: var(--text-sub-color);
  margin: 0;
}

.newsItemContent {
  font-size: 13px;
  color: var(--text-sub-color);
  margin: 4px 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.noDataText {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 20px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.modalLabel {
  font-size: 12px;
  margin-bottom: 5px;
}
